.user-report-title
  font-size: larger
  margin-bottom: 20px
  .user-report-title-1
    font-weight: bold
  .user-report-title-2
    font-size: smaller

table.report-table
  td.issue-number
    background-color: #fff
    border: 1px solid black
    border-left: none
    border-right: none
    height: 50px
    text-align: center
    vertical-align: bottom
    a
      text-decoration: underline

  caption
    margin-bottom: 10px
    color: #006485
    text-transform: uppercase